/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
#testoAlternato{
    width: 285px;
    position: relative;
}
p {

}
span {
    position: absolute;
display: inline-block;
width: 100px;
height: 20px;
right: 0;
overflow: hidden;
}

span i:first-child {
position: absolute;
animation-name: example;
animation-duration: 6s;
opacity: 0;
}


span i:nth-child(2) {
    position: absolute;
    opacity: 0;
    animation-delay: 2s;
    animation-name: example2;
    animation-duration: 4s;
}



span i:nth-child(3){
    position: absolute;
    opacity: 0;
    
    animation-delay: 5s;
    animation-name: example3;
    animation-duration: 3s;
}
@keyframes example {
    0%   {background-color:red;left:0px; top:0px;opacity: 1;}
  
    100% {background-color:red;left:100px; top:0px;opacity: 1;}
  }
@keyframes example2 {
    0%   {background-color:red; left:-100px; top:0px;opacity: 1;}
  
    50% {background-color:red; left:0px; top:0px;opacity: 1;}
   
    100% {background-color:red; left:100px; top:0px;opacity: 1;}
  }
@keyframes example3 {
    0%   {background-color:red; left:-100px; top:0px;opacity: 1;}
  
    50% {background-color:red; left:0px; top:0px;opacity: 1;}
    100% {background-color:red; left:100px; top:0px;opacity: 1;}
  }
